.container {
  padding: 10px;
}

.title {
  padding: 50px 0 20px;
}

.wrapper {
  padding-bottom: 14px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.textarea {
  width: 380px;
  height: 90px;
  padding: 6px;
}